# Arquivos de dependência e de sistema
node_modules
.git
.vscode
.idea

# Arquivos de build locais (não devem ser copiados para a imagem)
dist
.DS_Store

# Logs e arquivos de ambiente locais
logs
*.log
.env
.env.*
!/.env.production

# Cache e relatórios de teste
coverage
.nyc_output