<html>
  <body>
    <h1>Contrato de Locação Residencial</h1>
    <ol>
      <li>
        <strong class='clausula-titulo'>GARANTIA</strong>
        <p>A presente locação é firmada na modalidade
          <strong>Sem Garantia</strong>, baseada na confiança entre as partes.</p>
      </li>
    </ol>
  </body>
</html>