<html>
  <body>
    <h1>Contrato de Locação Residencial</h1>
    <ol>
      <li>
        <strong class='clausula-titulo'>GARANTIA</strong>
        <p>A presente locação é garantida por
          <strong>Depósito Caução</strong>, no valor de
          <strong>{{securityDeposit}}</strong>, que será restituído ao final do
          contrato, conforme a lei.</p>
      </li>
      <li>
        <strong class='clausula-titulo'>DA EFETIVAÇÃO DO CONTRATO E PAGAMENTO DA
          CAUÇÃO</strong>
        <p><strong>Parágrafo Primeiro:</strong>
          A eficácia do presente contrato e a consequente entrega das chaves
          ficam condicionadas à confirmação do pagamento integral do Depósito
          Caução, no valor de
          <strong>{{securityDeposit}}</strong>, a ser realizado pelo(a)
          LOCATÁRIO(A) em até 3 (três) dias úteis após a assinatura deste
          instrumento.</p>
        <p><strong>Parágrafo Segundo:</strong>
          O não pagamento do Depósito Caução no prazo estipulado será
          considerado inadimplência pré-contratual, conferindo ao(à) LOCADOR(A)
          o direito de, a seu exclusivo critério, cancelar o presente contrato
          de pleno direito, independentemente de notificação judicial ou
          extrajudicial.</p>
      </li>
    </ol>
  </body>
</html>